html, body, aside, div, span, h1, h2, h3, h4, a, ol, ul, nav, li, form, label, article,
figure, figcaption, footer, header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

img {
  width: inherit;
}
